In [1]:
import pandas as pd

In [2]:
Jan19 = pd.read_csv("./Resources/JC-201901-citibike-tripdata.csv")
Feb19 = pd.read_csv("./Resources/JC-201902-citibike-tripdata.csv")
Mar19 = pd.read_csv("./Resources/JC-201903-citibike-tripdata.csv")
Apr19 = pd.read_csv("./Resources/JC-201904-citibike-tripdata.csv")
May19 = pd.read_csv("./Resources/JC-201905-citibike-tripdata.csv")
Jun19 = pd.read_csv("./Resources/JC-201906-citibike-tripdata.csv")
Jul19 = pd.read_csv("./Resources/JC-201907-citibike-tripdata.csv")
Aug19 = pd.read_csv("./Resources/JC-201908-citibike-tripdata.csv")
Sep19 = pd.read_csv("./Resources/JC-201909-citibike-tripdata.csv")
Oct19 = pd.read_csv("./Resources/JC-201910-citibike-tripdata.csv")
Nov19 = pd.read_csv("./Resources/JC-201911-citibike-tripdata.csv")
Dec19 = pd.read_csv("./Resources/JC-201912-citibike-tripdata.csv")
Jan20 = pd.read_csv("./Resources/JC-202001-citibike-tripdata.csv")
Feb20 = pd.read_csv("./Resources/JC-202002-citibike-tripdata.csv")
Mar20 = pd.read_csv("./Resources/JC-202003-citibike-tripdata.csv")
Apr20 = pd.read_csv("./Resources/JC-202004-citibike-tripdata.csv")
May20 = pd.read_csv("./Resources/JC-202005-citibike-tripdata.csv")
Jun20 = pd.read_csv("./Resources/JC-202006-citibike-tripdata.csv")
Jul20 = pd.read_csv("./Resources/JC-202007-citibike-tripdata.csv")

In [3]:
Jan19.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [4]:
data = Jan19.append(Feb19)
data = data.append(Mar19)
data = data.append(Apr19)
data = data.append(May19)
data = data.append(Jun19)
data = data.append(Jul19)
data = data.append(Aug19)
data = data.append(Sep19)
data = data.append(Oct19)
data = data.append(Nov19)
data = data.append(Dec19)
data = data.append(Jan20)
data = data.append(Feb20)
data = data.append(Mar20)
data = data.append(Apr20)
data = data.append(May20)
data = data.append(Jun20)
data = data.append(Jul20)
data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38675,1003,2020-07-31 23:51:37.3790,2020-08-01 00:08:20.6900,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3277,Communipaw & Berry Lane,40.714358,-74.066611,42145,Subscriber,1977,1
38676,165,2020-07-31 23:56:33.6770,2020-07-31 23:59:18.8610,3198,Heights Elevator,40.748716,-74.040443,3196,Riverview Park,40.744319,-74.043991,44334,Subscriber,1991,1
38677,382,2020-07-31 23:56:55.9860,2020-08-01 00:03:18.8390,3209,Brunswick St,40.724176,-74.050656,3275,Columbus Drive,40.718355,-74.038914,42154,Subscriber,1984,1
38678,674,2020-07-31 23:57:58.0150,2020-08-01 00:09:12.0420,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,45366,Customer,1994,2
38679,1007,2020-07-31 23:58:06.3070,2020-08-01 00:14:53.3340,3211,Newark Ave,40.721525,-74.046305,3209,Brunswick St,40.724176,-74.050656,42139,Subscriber,1982,1

In [5]:
data.to_csv("Output/data.csv")